* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-items {
    align-items: center;
}

.text-center {
    text-align: center;
}

.direction-row {
    flex-direction: row;
}
.direction-column {
    flex-direction: column;
}

.paddingY20 {
   padding: 20px 0;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.col-5 {
    width: 20%;
}

.col-4 {
    width: 25%;
}

.col-3 {
    width: 33.33%;
}

.col-2  {
  width: 50%;
}

.col-2-of-3 {
    width: 66.66%;
}

a {
    color: inherit;
    cursor: pointer;
    margin-right: 15px;
}

.btn {
    padding: 15px 20px;
    border-radius: 10px;
    border-color: white;
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.image {
    width: 100%;
    height: auto;
}

.color-white {
    color: white;
}

.color-darkblue {
    color:darkblue;
}

.color-skyblue {
    color: #24b6c5;
}

.color-pink {
    color: #ec4f84;
}

.bgcolor-gray {
    background-color: #333333;
}
    
.bgcolor-darkblue {
   background-color: #152840;
}

.bgcololor-skyblue {
    background-color: #24b6c5;
}

.medium-text {
    font-size: 23px;
}

.big-text {
    font-size: 30px;
}

.family-titilium-web {
   font-family: "Titillium Web", sans-serif;
}

input[type=text],
input[type=email] {
    height: 60px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    color:darkblue;
}

input[type=text]::placeholder,
input[type=email]::placeholder
 {
    color:darkblue;
}

@media screen and (max-width:1024px) {
    .container-lg {
        width: 90%;
        margin: auto;
    }
    .flex-justify-space-around-lg {
        justify-content: space-around;
    }
    .gap-lg {
       gap: 20px;
    }
    .text-center-lg {
        text-align: center;
    }
    .col-lg-1 {
        width: 100%;
    }
    .direction-lg-row {
        flex-direction: row;
    }
    .direction-lg-column {
        flex-direction: column;
    }
    .display-block-lg {
        display: block;
    }
    .medium-text-lg {
        font-size: 28px;
    }
    input[type=text],
    input[type=email] {
        width: 350px;
   }
   .height-lg {
    height: 450px;
 }
}

@media screen and (max-width:768px) {
    .container-md {
        width: 90%;
        margin: auto;
    } 
    .col-md-1 {
        width: 100%;
    }
    .direction-md-row {
        flex-direction: row;
    }
    .direction-md-column {
        flex-direction: column;
    }
    .display-block-md {
        display: block;
    }
    input[type=text],
    input[type=email] {
        width: 350px;
   }
    .height-md {
        height: 450px;
   }
}

@media screen and (max-width:576px) {
    .container-xs {
        width: 80%;
    }
    .col-xs-1 {
        width: 100%;
    }
    .direction-xs-row {
        flex-direction: row;
    }
    .direction-xs-column {
        flex-direction: column;
    }
    .margin-top-20-xs {
      margin-top: 20px;
    }
    .margin-bottom-20-xs {
        margin-bottom: 20px;
    }
    .display-block-xs {
        display: block;
    }
    .medium-text-xs {
        font-size: 25px;
    }
    .small-text-xs {
        font-size: 20px;
    }
    input[type=text],
    input[type=email] {
        width: 250px;
   }
   .height-xs {
      height: 450px;
   }
   .btn-padding-xs {
    padding: 10px 7px;
   }
}
